node_modules
.turbo
.next
dist
out
build

.env
.env.local
*.tsbuildinfo
next-env.d.ts

# Prisma generated client
apps/api/src/generated/prisma

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
